@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bank Online</h1>
    <a class="btn btn-primary" asp-controller="Account" asp-action="CreateAccount">CreateAccount</a>
    <a class="btn btn-secondary" asp-controller="Account" asp-action="LoginAccount">Login Account</a>
</div>
